
* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
#name {
    text-align: center;
} 

.para1 {
    text-align: center;
}

#profile-img {
    
    padding: 10px;
    margin: 25px;
    width: 80%;
}
    a:link {
      text-decoration: none;
    }
    a:active {
        color: red;
    }
    a:hover {
        color: rgb(78, 47, 255);
    }
   

nav li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    
} 

.images {

    width: 100%;
    margin: 0;
    padding: 0;
}
.main-content {
    text-align: center;
    width: 100%;
}
.main-footer {
  position: relative;
  background-color: lightgrey;
  padding: 15px;
  margin: 15px;
  width: 100%;
  text-align: center;
  clear: both;
}

.bottom-name {
    float: left;
    
    
}
.bottom-link {
    float: right;
    margin: 25px;
    
}

@media screen and  (min-width: 768px) {
    .nav {
        display: block;
        
    }
    #profile-img {
        float: right;
        width: 48%;
    }
        
    .para1 {
        float: none;
        display: inline-block;
        width: 48%;
        padding: 10px;
        margin: 15px;
        }
    }
    .portfolio {
        text-align: center;
    }
    .mart,
    .map,
    .calc {
        float: left;
        width: 48%;
        
        
    }
    .search,
    .app,
    .photo {
        float: right;
        width: 48%;
        
    }
    
        
    
