
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', sans-serif;
  }

/* --- mobile first ---*/
.name,
.gray,
nav li {
    background-color: rgb(245, 245, 245);
    
}
.name {
    text-align: center;
    display: block;
    margin-bottom: 15px;
} 

.para1 {
    text-align: center;
    padding: 5px;
    margin: 5px 20px 30px 20px;
    letter-spacing: .05em;
    font-size: 14px;
}

.profile-img {
    
    padding: 25px;
    margin: 0 auto;
    width: 100%;
    
}
    a:link {
      text-decoration: none;
      color: black;
    }
    a:active {
        color: rgb(0, 255, 42);
    }
    
   nav li {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    }
    
ul li {
    color: black;
}
.portfolio {
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
}

.mar,
.search,
.photo,
.app,
.map,
.calc {
    width: 100%;
    margin: 0 auto;
 }

.para2 {
    text-align: center;
    width: 90%;
    margin: 15px;
    }

h3 {
    text-align: center;
    margin: 15px;
    padding: 5px;
}

.contact {
  
  background-color: lightgrey;
  padding: 40px;
  margin: 0;
  text-align: center;
  clear: both;
  }

h2 {
 text-align: center;
 text-transform: uppercase;
}

.para3 {
    text-align: justify;
}

.bottom-name {
    float: left;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
    }

.bottom-link {
    float: right;
    color: black;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-transform: uppercase;
    }

.bottom-nav {
    display: none;
}

h2 {
    text-transform: uppercase;
}

.para3 {
    font-size: 20px;
}

span {
    font-weight: bold;
}


/* ---- Tablet view ---- */

 @media screen and (min-width: 768px) {
    .top-main,
    .gray {
        background-color: rgb(214, 212, 212);
        padding: 20px;
        margin: auto;
        
       }

    .name {
        margin: 20px;
        text-align: center;
        }

    .nav {
        text-align: center;
        color: black;
    }
    
    .nav li {
        display: inline;
        color: black;
        font-weight: bold;
        padding-bottom: 0;
        
    }
    a:link {
        color: black;
    }
    .profile-img {
        width: 45%;
        float: right;
        margin-right: 0;
        }
        
    .para1 {
        width: 45%;
        font-size: 14px;
        text-align: justify;
        padding: 10px;
        letter-spacing: .1em;
        margin: 15px 25px 10px 5px;
        }

    
    .portfolio {
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        margin-top: 60px;
        margin-bottom: 40px;
        }

    
    
.marketing {
      float: right;
      width: 48%;
      margin: 0 8px 20px 0;
      
    }

 .search-page {
     float: left;
     width: 48%;
     margin-bottom: 20px
     
 }

 .travel {
    float: left;
    width: 48%;
    margin: 0 0 20px 0;
    
    
  }

.spots {
   float: right;
   width: 48%;
   margin: 0 8px 20px 0;
   
}

.photo-page {
    float: left;
    width: 48%;
    margin-top: 19px;
    margin-bottom: 20px;
    
  }

.calcu {
   float: right;
   width: 48%;
   margin: 0 8px 20px 0;
   
}

p {
    font-size: 15px;
}

.para2 {
    text-align: center;
}

h3 {
    margin: 0;
}

.bottom-link {
    display: none;
}
.bottom-nav {
    display: block;
    text-align: right;
    font-size: 14px;
    color: black;
    padding: 5px;
    text-transform: uppercase;
}

ul li {
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    
}
.bottom-name {
    margin-left: 15px;
}

.footer {
    padding: 15px 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear:both;
    }
}
.marketing,
.search-page,
.spots,
.photo-page,
.travel,
.calcu {
  margin: 0 auto;
  min-height: 350px;
}

   

    /* .clearfix::after {
        content: "";
        display: table;
        clear:both;
} */
 

    /* ------- Desktop View ----- */

    @media screen and (min-width: 1024px) {
        .top-main,
    .gray {
        background-color: rgb(214, 212, 212);
        padding: 20px;
        margin: auto;
        
       }

    .name {
        float: left;
        font-size: 35px;
        text-align: center;
        }

    nav ul {
        margin-top: 15px;
        line-height: 0.4em;
    }    

    .header-content-div {
        clear: both;
    }

    .nav {
        text-align: center;
        color: black;
        float: right;
    }
    
    .nav li {
        display: inline;
        color: black;
        font-weight: bold;
        padding-bottom: 0;
        
    }
    a:link {
        color: black;
    }
    .profile-img {
        width: 35%;
        float: right;
        }
        
    .para1 {
        width: 45%;
        padding: 5px;
        letter-spacing: .3em;
        margin: 15px 10px 10px 5px;
        font-size: 16px;
        }

    
    .portfolio {
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        margin-top: 90px;
        margin-bottom: 60px;
        padding: 0.1em;
        }

    
    
/* .marketing {
      float: left;
      width: 30%;
      margin: 20px 15px 15px 45px;
      
    }

 .search-page {
     width: 30%;
     margin: 20px 15px 15px 10px;
     
 }

 .travel {
    float: right;
    width: 30%;
    margin: 23px 40px 15px 10px;
    
    
    
  }

.spots {
   float: left;
   width: 30%;
   margin: 20px 15px 15px 45px;
   
   
}

.photo-page {
    width: 30%;
    margin: 20px 15px 15px 10px;
  }

.calcu {
    float: right;
    width: 30%;
    margin: 20px 40px 15px 10px;
} */

.marketing,
        .search-page,
        .spots,
        .photo-page,
        .travel,
        .calcu {
            float: left;
            width: 30%;
            margin: 20px 0 15px 0;
        }
        .marketing,
        .search-page,
        .photo-page,
        .spots {
            margin-right: 5%;
        }

.para2 {
    text-align: center;
}

h3 {
    margin: 15px 0;
}

.contact p {
    text-align: center;
}

.bottom-link {
    display: none;
}
.bottom-nav {
    float: right;
    font-size: 14px;
    color: black;
    padding: 15px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}

ul li {
    display: inline;
    margin: 15px;
    
}
.bottom-name {
    margin-left: 10px;
    font-size: 25px;
}

.clearfix::after {
    content: "";
    display: table;
    clear:both;
    }
}