
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- mobile first ---*/
#name,
.para1,
#profile-img,
nav li {
    background-color: rgb(245, 245, 245);
    display: block;
}
#name {
    text-align: center;
} 

.para1 {
    text-align: center;
    padding: 5px;
    margin: 5px 20px 30px 20px;
    letter-spacing: .05em;
    font-size: 14px;
}

#profile-img {
    
    padding: 25px;
    margin: 30px 30px 0 30px;
    width: 80%;
    
}
    a:link {
      text-decoration: none;
    }
    a:active {
        color: rgb(0, 255, 42);
    }
    
   

nav li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    
    
} 
.portfolio {
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
}

.images {
  width: 95%;
  margin: 2.5%;
  padding: 15px;
    
}
.main-content {
    text-align: center;
    width: 100%;
    
}
.para {
    text-align: center;
    width: 90%;
    margin: 15px;
    
    
    
}
h3 {
    margin: 15px;
    padding: 5px;
}

.main-footer {
  
  background-color: lightgrey;
  padding: 15px;
  margin: 15px;
  text-align: justify;
  clear: both;
}
h2 {
 text-align: center;
 text-transform: uppercase;
}
.para3 {
    text-align: justify;
}

.bottom-name {
    float: left;
    margin-top: 25px;
    margin-bottom: 20px;
    
    
}
.bottom-link {
    float: right;
    margin-top: 25px;
    margin-bottom: 20px;
    
    
}
h2 {
    text-transform: uppercase;
}
.para3 {
    font-size: 20px;
}
span {
    font-weight: bold;
}

/* ---- Tablet view ---- */

@media screen and  (min-width: 768px) {
    .top-main {
        background-color: rgb(214, 212, 212);
        padding: 25px;
        margin: 0;
        width: 100%;
        z-index: -5;
    }
    #name {
        margin: 25px;
        
    }
    .nav {
        text-align: center;
        
        
    }
    .nav li {
        display: inline;
        padding: 15px;
        margin: 15px;
        color: black;
        font-weight: bold;
        
    }
    a:link {
        color: black;
    }
    #profile-img {
        
        float: right;
        width: 45%;
        margin: 25px;
    }
        
    .para1 {
        text-align: justify;
        margin: 50px 0 0 25px;
        letter-spacing: .15em;
        }
    
    .portfolio {
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        margin-top: 120px;
        
    }
    .mart,
    .map,
    .calc {
        float: left;
        width: 48%;
        padding: 15px;
        margin-left: 10px;
        }

    .search,
    .app,
    .photo {
        float: right;
        width: 48%;
        padding: 15px;
        
        
        }

    .main-footer {
      margin: 10px;
      padding: 10px;

    }
    .bottom-name {
        margin: 20px;
    }
    h2 {
        text-transform: uppercase;
    }
    .para3 {
        font-size: 20px;
        padding: 25px;
    }
    span {
        font-weight: bold;
        
    }
    .phone {
        text-align: center;
        font-size: 26px
    }
    .email {
        text-align: center;
        padding-bottom: 15px;
        font-size: 26px
    }
}

    /* ------- Desktop View ----- */

    @media screen and (min-width: 1024px) {
        #name {
            float: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .nav {
          float: right;
          padding-top: 40px;
          }
          
        nav li {
            color: black;
        }
      
    
      .top-main {
        background-color: rgb(214, 212, 212);
        padding: 25px;
        margin: 0;
        z-index: -5;
    }
    
    a:link {
        color: black;
    }
    #profile-img {
        float: right;
        width: 33%;
        margin: 25px;
    }
        
    .para1 {
        text-align: justify;
        margin: 50px 0 0 25px;
        letter-spacing: .15em;
        padding: 15px;
        }
    
    .portfolio {
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        margin-top: 120px;
        
    }
    .mart,
    .search,
    .app
     {
        float: left;
        width: 33%;
        
        }
    .map,
    .photo {
        float: left;
        width: 33%;
    }
    .calc {
        float: left;
        width: 33%;
    }
    
    

    .main-footer {
      margin: 10px;
      padding: 10px;

    }
    .bottom-name {
        margin: 20px;
    }
    h2 {
        text-transform: uppercase;
        padding-top: 15px;
    }
    .para3 {
        text-align: center;
        font-size: 20px;
        padding: 25px;
    }
    span {
        font-weight: bold;
        
    }
    .phone {
        text-align: center;
        font-size: 26px
    }
    .email {
        text-align: center;
        padding-bottom: 15px;
        font-size: 26px
    }
    }